# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ADMIN\Desktop\Java_By-my-self\Session4\L-p-Point-v-MoveablePoint\Point\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
